body {
    background-color: rgb(147, 250, 250);
    color:black;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 700px;
    margin: 0;
}

button {
    background-color: black;
    color:aliceblue;
    font-family: "Bebas Neue", sans-serif;
}

.passo {
    display: none;
}
 
.passo.ativo {
    display: block;
}

 main {
}

img{
    max-width: 80%;
}


  



